@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


main {
    margin-top: 160px;
    width: 100%;
    max-width: 50vw;
    height: 60vh;
    border: 1px solid red;
}

.segura-fomrulario{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.segura-fomrulario div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.segura-fomrulario div input{
    width: 300px;
    padding: 5px;
    
}


.segura-fomrulario div label{
    margin-bottom: 10px;
}


.segura-fomrulario div textarea{
    width: 300px;
    padding: 15px;
}

.segura-fomrulario div button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 300px;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: white;
    color: red;
}